In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [156]:
os.chdir("C:\\Users\\Noufanpmc\\Documents\\Aegis\\Hackathone\\PYTHON\\BNP")
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

In [157]:
df_train.shape

(114321, 133)

In [139]:
df_test.head(3)

,ID,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,0,1.375465e+00,11.361141,C,4.200778,6.5770,2.081784,1.784386,0.011094,9.523810,...,7.619048,1.815241,1.112270e-07,AF,1.292368,3.903345,1.485925,0,2.333334,1.428572e+00
1,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,NaN,NaN,NaN,0,NaN,NaN
2,2,-4.903407e-07,8.201529,C,4.544371,6.5501,1.558442,2.467532,0.007164,7.142858,...,5.714286,1.970928,1.412265e-02,AV,1.128724,5.844156,1.475892,0,1.263157,-6.380022e-07

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114321 entries, 0 to 114320
Columns: 133 entries, ID to v131
dtypes: float64(108), int64(6), object(19)
memory usage: 116.0+ MB

In [10]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114393 entries, 0 to 114392
Columns: 132 entries, ID to v131
dtypes: float64(108), int64(5), object(19)
memory usage: 115.2+ MB

In [4]:
df_train.head(10)

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN
5,9,0,NaN,NaN,C,NaN,8.856791,NaN,NaN,0.359993,...,NaN,NaN,0.049861,X,NaN,NaN,1.536222,0,NaN,NaN
6,12,0,0.899806,7.312995,C,3.494148,9.946200,1.926070,1.770427,0.066251,...,3.476299,1.992594,0.083758,BJ,3.276100,1.623298,2.266575,0,2.263736,0.970873
7,21,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,BY,NaN,NaN,NaN,0,NaN,NaN
8,22,0,2.078651,8.462619,NaN,3.739030,5.265636,1.573033,2.303371,0.015869,...,8.148148,1.875560,0.018659,S,1.159637,5.582865,1.105283,0,1.170731,3.333334
9,23,1,1.144802,5.880606,C,3.244469,9.538384,2.500001,1.559405,0.412610,...,7.325843,4.896617,0.008944,E,1.344550,1.601176,1.928009,0,3.174603,1.000000

In [6]:
df_train.isnull().sum()

ID            0
target        0
v1        49832
v2        49796
v3         3457
v4        49796
v5        48624
v6        49832
v7        49832
v8        48619
v9        49851
v10          84
v11       49836
v12          86
v13       49832
v14           4
v15       49836
v16       49895
v17       49796
v18       49832
v19       49843
v20       49840
v21         611
v22         500
v23       50675
v24           0
v25       48619
v26       49832
v27       49832
v28       49832
          ...
v102      51316
v103      49832
v104      49832
v105      48658
v106      49796
v107          3
v108      48624
v109      48624
v110          0
v111      49832
v112        382
v113      55304
v114         30
v115      49895
v116      49836
v117      48624
v118      49843
v119      50680
v120      49836
v121      49840
v122      49851
v123      50678
v124      48619
v125         77
v126      49832
v127      49832
v128      48624
v129          0
v130      49843
v131      49895
Length: 133, dtype: int64

In [158]:
train=df_train
test=df_test

#train['target'].isnull().sum()

In [159]:
y_tr=train['target']
train=train.drop(['target'], axis = 1)

In [184]:
df_all=pd.concat((train, test), axis = 0, ignore_index = True )

In [119]:
df_all.shape
#228714/2

(228714, 132)

In [188]:
df_all.iloc[:,29:132].isnull().sum()

v29      99711
v30     120452
v31       6949
v32      99711
v33      99711
v34        215
v35      99711
v36      97266
v37      99730
v38          0
v39      99716
v40        215
v41      99711
v42      99711
v43      99717
v44      99635
v45      99711
v46      97255
v47          0
v48      99635
v49      99711
v50        170
v51     101395
v52          5
v53      99717
v54      97255
v55      99711
v56      13800
v57      99711
v58      99716
         ...
v102    102678
v103     99711
v104     99711
v105     97323
v106     99635
v107         5
v108     97266
v109     97266
v110         0
v111     99711
v112       795
v113    110662
v114        54
v115     99839
v116     99717
v117     97266
v118     99730
v119    101396
v120     99716
v121     99722
v122     99737
v123    101395
v124     97255
v125       161
v126     99711
v127     99711
v128     97266
v129         0
v130     99730
v131     99839
Length: 103, dtype: int64

In [190]:
df_all=df_all.drop(['v30'], axis = 1)
""""df_all=df_all.drop(['v23'], axis = 1)
df_all=df_all.drop(['v51'], axis = 1)
df_all=df_all.drop(['v85'], axis = 1)
df_all=df_all.drop(['v102'], axis = 1)
df_all=df_all.drop(['v113'], axis = 1)
df_all=df_all.drop(['v119'], axis = 1)
df_all=df_all.drop(['v123'], axis = 1)"""

'"df_all=df_all.drop([\'v23\'], axis = 1)\ndf_all=df_all.drop([\'v51\'], axis = 1)\ndf_all=df_all.drop([\'v85\'], axis = 1)\ndf_all=df_all.drop([\'v102\'], axis = 1)\ndf_all=df_all.drop([\'v113\'], axis = 1)\ndf_all=df_all.drop([\'v119\'], axis = 1)\ndf_all=df_all.drop([\'v123\'], axis = 1)'

In [68]:
df_all['v1'].dtype
df_all['v1']=df_all['v1'].fillna(df_all['v1'].mean())
df_all['v1'].isnull().sum()

0

In [70]:
df_all['v2'].dtype
df_all['v2']=df_all['v2'].fillna(df_all['v2'].mean())
df_all['v2'].isnull().sum()

0

In [71]:
df_all['v3'].dtype
df_all['v3']=df_all['v3'].fillna(df_all['v3'].mean())
df_all['v3'].isnull().sum()

dtype('O')

In [ ]:
"""df_all[''].dtype
df_all['']=df_all[''].fillna(df_all[''].mean())
df_all[''].isnull().sum()"""

In [191]:
df_all=df_all.fillna(df_all.mean())

In [192]:
df_all = df_all.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [193]:
df_all.iloc[:,29:].isnull().sum()

v29     0
v31     0
v32     0
v33     0
v34     0
v35     0
v36     0
v37     0
v38     0
v39     0
v40     0
v41     0
v42     0
v43     0
v44     0
v45     0
v46     0
v47     0
v48     0
v49     0
v50     0
v51     0
v52     0
v53     0
v54     0
v55     0
v56     0
v57     0
v58     0
v59     0
       ..
v102    0
v103    0
v104    0
v105    0
v106    0
v107    0
v108    0
v109    0
v110    0
v111    0
v112    0
v113    0
v114    0
v115    0
v116    0
v117    0
v118    0
v119    0
v120    0
v121    0
v122    0
v123    0
v124    0
v125    0
v126    0
v127    0
v128    0
v129    0
v130    0
v131    0
Length: 102, dtype: int64

In [194]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

df_all= df_all.apply(LabelEncoder().fit_transform)
df_all.shape

(228714, 131)

In [195]:
#train1=df_all[:len(train)]
#test1=df_all[len(train):]

X_train=df_all.iloc[0:114321,:].values
X_test=df_all.iloc[114322:,:].values

X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)

In [170]:
X_train.head(3)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,3,56582,87427,2,49874,41395,82617,114446,4679,90592,...,98798,33056,42133,21,92245,69906,82095,0,4678,113054
1,4,73644,70598,2,61233,83859,67014,67549,107621,63365,...,66459,86358,89081,6,73884,74121,78106,0,82777,72476
2,5,33891,32275,2,75689,5015,127329,127039,8750,125273,...,119375,53934,26047,5,88500,92805,14052,2,16713,41673

In [196]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

### XGB

In [197]:
from xgboost import XGBClassifier
classifier = XGBClassifier(base_score=0.5,learning_rate=0.1,max_depth=50, n_estimators=100)
classifier.fit(X_train,y_tr)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=50,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [198]:
from sklearn.metrics import accuracy_score
#accuracy = accuracy_score(y_tr, classifier.predict(test1))
pred = classifier.predict_proba(X_test)
accuracy = classifier.score(X_train, y_tr)
print(accuracy)

1.0

In [199]:
pred=pd.DataFrame(pred)
pred.head(3)

          0         1
0  0.027161  0.972839
1  0.078526  0.921474
2  0.554265  0.445735

In [200]:
#pred=pd.DataFrame()
id_test=test['ID']
id_test=pd.DataFrame(id_test)

In [177]:
id_test.head(3)

   ID
0   0
1   1
2   2

In [201]:
solution = pd.DataFrame({"Id":test.ID, "PredictedProb":pred.iloc[:,1]})
solution.to_csv("Noufan_XGB_Aegis.csv", index = False)

### RandomForest

In [202]:
from sklearn.ensemble import RandomForestClassifier
Rf_classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
Rf_classifier.fit(X_train, y_tr)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [203]:
Rf_pred = Rf_classifier.predict_proba(X_test)
accuracy_Rf = Rf_classifier.score(X_test, y_test)
print(accuracy_Rf)

0.992337365838

In [204]:
Rf_pred=pd.DataFrame(Rf_pred)
solution2 = pd.DataFrame({"Id":test.ID, "PredictedProb":Rf_pred.iloc[:,1]})
solution2.to_csv("Noufan_Rf_Aegis.csv", index = False)